<%= devise_link(user_signed_in?) %>

<%- model_class = Link.new.class -%>
<h1>Super Awesome Hacker Links</h1>

<%- flash.each do |key, msg| -%>
  <div id="<%= key %>">
    <p><%= msg %></p>
  </div>
<%- end -%>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Rate</th>
      <th>Link</th>
      <th>Votes</th>
      <th>Comments</th>
      <th>Submitted By</th>
      <th>Submitted On</th>
    </tr>
  </thead>
  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.vote_button(link, current_user, user_signed_in?) %></td>
        <td><%= link_to link.description, link.url %></td>
        <td>+<%= link.votes.size %></td>
        <td><%= link_to "#{link.comments.size} | view", comments_path(:link_id => link.id), :class => 'btn btn-mini' %> </td>
        <td><%= link.user.email unless link.user.email.blank? %></td>
        <td><%= Date.parse(l link.created_at).strftime('%m/%d/%Y') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Submit Awesome Shit", new_link_path, :class => 'btn btn-primary' if user_signed_in? %>
